.order-items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:10px;
}
.order-items img{
    margin-top: 25px;
    width: 100%;
    margin-bottom: 25px;
}
.order-item-subtitle{
   color: gray;
   font-weight: normal;
   
}
.order-item-title {
    font-size: 19px;
}
.order-item {
    position: relative;
}
.order-item .icon{
    width: 30px;
    height: 30px;
    background: var(--combo);
    color: #fff;
    text-align: center;
    display: block;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1;
}
.order-item:hover .icon{
    visibility: visible;
    opacity: 1;} 